body {
  background: rgb(220,218,255);
  background: linear-gradient(90deg, rgba(220,218,255,1) 0%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 59%, rgba(220,218,255,1) 100%);
  }
.intrestedheader{
  order:3;
  flex-basis: 100%;
  flex-grow: 1;
  color: rgba(54, 54, 218, 0.833);
  font-size: 40px;
  background: linear-gradient(90deg, rgba(182,225,231,1) 33%, rgba(51,230,255,0.1578433388157895) 51%);
  border-style:groove;
  float: left;
  margin: 1px, 0px;
  padding: 1px, 0px;
  width: 100%;  
}
#other{
  order:1;
}
#detailhead{
  order:4;
}
.infoDiv{
  order:5;
  flex-basis: 100%;
  flex-grow: 1;
}
hinfo{ 
  color: rgb(0, 0, 0);
  font-size: 30px;
  flex-basis: 100%;
  font-weight: bold;
}
.media{
  order:2;
  flex-basis:100%;
  flex-grow:1;
  width: 300px;
  position: relative;
  top: 9px;
  left: 2px; 
}
.column {
  padding: 5px;
  width: 200px;
  height: 200px;
}
.media {
  display: flex;
}
.icons{
  width: 100px;
  height: 100px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background: linear-gradient(90deg, rgba(182,225,231,1) 33%, rgba(51,230,255,0.1578433388157895) 51%);
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
input[type=text], select, textarea {
  width: 100%; 
  resize: vertical;
  padding: 5px;  
  border: 1px solid #ccc; 
  border-radius: 3px;
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px;
  font-size: 20px;
}
input[type=submit] {
  background-color: rgb(33, 164, 208);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #da3f3f;
}
.container {
  border-radius: 5px;
  background-color: #B6E1E7;
  padding: 20px;
}
.flex-container-Contact {
  display: flex;
}
.flex-container-Contact-header {
  display: flex;
  background-color: #B6E1E7;
  border-style: groove;
  margin: 10px;
  padding: 5px;
  font-size: 35px;
  color: rgb(54, 54, 218, 0.833);
  flex: 1;
  font-weight: bold;
}

.flex-container-Contact > article {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 5px;
  font-size: 25px;
  flex: 1;
}
.dog {
  width:200px;
  height:200px;
}
.FunButton{
  background-color: #B6E1E7;
  border: solid black; 
  border-radius: 1px;
  border-width: 0.5px;
  color: rgb(0, 0, 0); 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.FunButton:hover{
  background-color: #759ca2;
  border: solid rgb(255, 255, 255); 
  border-radius: 1px;
  border-width: 0.5px;
  color: rgb(255, 255, 255); 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.tooltip{
  visibility: hidden;
  position: relative;
}
.buttoncon:hover .tooltip{
  visibility: visible;
}
.warning{
  color: red; 
  background-color: rgba(255, 99, 71, 0.3);
  visibility: hidden;
}
.mandatorytext{
  visibility: hidden;
  font-size: 15px;
  color: red;
  background-color: rgba(255, 99, 71, 0.3);
  border-radius: 2px;
}
.mandatory:hover .mandatorytext{
  visibility: visible;
}
.flex-container-Contact2{
  display: flex;
  flex-wrap: wrap;
}